@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,900;1,700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

.canvasFrame {
  position: relative;
  width: 100%;
  background: gold;
  height: 100vh;
}

.canvas_text {
  margin-left: 1.3%;
  position: absolute;
  top: 10%;
  max-width: 60%;
}

.canvas_text > h1 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 4rem;
  text-transform: uppercase;
}

.canvas_text > h3 {
  text-decoration-line: overline;
  font-weight: 600;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 3rem;
}

.canvas_text > p {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 10px 0px;
}

.canvas_text > span {
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.headphones_img {
  display: flex;
  gap: 20px;
}

.img_box {
  margin: 30px 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.img_box:hover img {
  transform: scale(1.3);
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.3s ease-in-out;
}

.Buy_button {
  cursor: pointer;
  max-width: fit-content;
  border: 2px double black;
  transition: all 0.3s ease-in-out;
}

.Buy_button:hover {
  letter-spacing: 2px;
  background: white;
  border: 2px double yellow;
  transform: scale(1.02);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.Buy_button > p {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
}

.socail_icons {
  position: absolute;
  bottom: 10%;
  right: 4%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  transition: all 0.5s ease-in-out;
}

.icon:hover {
  color: white;
  transform: scale(1.3);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

a {
  color: black;
  text-decoration: none !important;
}

.footer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.footer > p > span {
  font-weight: 700;
}
